<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Wifi Info"></Label>
</ActionBar>

<GridLayout rows="auto, *, auto" class="page p-15">

    <StackLayout row="0 m-t-30">
        <Label text="Wifi SSID" class="text-center font-weight-bold"></Label>

        <Label class="text-center c-grey-dark m-t-10"
               [text]="wifiSsidText"></Label>
    </StackLayout>

    <GridLayout row="1" rows="auto, auto, auto" *ngIf="isAndroid" class="m-t-30" verticalAlign="top">
        <Label row="0" text="Wifi Form" class="text-center font-weight-bold"></Label>

        <TextField row="1" id="wifiSsid" class="m-b-25 m-t-10 input" paddingRight="40"
                   hint="WiFi SSID"
                   returnKeyType="next"
                   autocapitalizationType="none"
                   [(ngModel)]="wifiSsidInput"></TextField>

        <Image row="1" src="~/images/burger-menu.png" width="25" height="25" horizontalAlignment="right"
               marginTop="-25" marginRight="6"
               (tap)="getAndroidWifiList()"></Image>
    </GridLayout>

    <StackLayout row="3" verticalAlign="bottom" class="m-t-30">

        <Button text="Set Wifi SSID" class="btn-primary btn-blue"
                (tap)="setWifiInfo()"></Button>

        <Button *ngIf="isAndroid" text="Show Wifi SSID List" class="btn-primary btn-grey"
                (tap)="getAndroidWifiList()"></Button>
    </StackLayout>

</GridLayout>
