<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Wifi Info"></Label>
</ActionBar>

<StackLayout class="page" verticalAlign="top">

    <Label text="Wifi SSID" class="m-t-20 text-center c-black" textWrap="true"></Label>
    <Label [text]="ssid" class="m-t-10 text-center c-grey-dark" textWrap="true"></Label>

    <Label text="Wifi SSID (native)" class="m-t-20 text-center c-black" textWrap="true"></Label>
    <Label [text]="nativeSsid" class="m-t-10 text-center c-grey-dark" textWrap="true"></Label>

</StackLayout>
